page-login {
  .button{
    margin-top: 10px;
  }

  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
    background-image: url('../assets/imgs/login.png');
    background-size: cover;
  }

  #name {
    position: absolute;
    left: 65px;
    top: 10px;
  }

  #logo {
    display: inline-block
  }

  #like {
    position: absolute;
    right: 0;
  }

  #by{
    position: fixed;
    bottom: 10px;
  }
}
