page-login {
  box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.6), 0 4px 5px rgba(0, 0, 0, 0.1);
  .toolbar-title {
    padding: 0 !important;
    color: white;
  }

  .button{
    margin-top: 10px;
  }

  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
    background-image: url('../assets/imgs/bgfond.jpg');
    background-size: 100% 100%;
  }

  #name {
    position: absolute;
    left: 65px;
    top: 10px;
  }

  #logo {
    display: inline-block
  }

  #like {
    position: absolute;
    right: 0;
  }

  #by{
    position: fixed;
    bottom: 5px;
  }


  #imag{
    position: fixed;
    bottom: 35px;
    height: 25px;
    width: 140px;
  }

  ion-navbar .toolbar-background{
    background-color: $header-color !important;
  }

  .btn_face{
    background-color: #3b5998;

  }
  .btn_twiter{
    background-color: #d34836;
  }

}
