page-device-settings {
    #estado {
      ion-list-header {
        margin: 0;
      }
      h2 {
        color: #7f7f7f;
      }
      margin-bottom: 20px;
    }
    ion-list-header {
        border: none !important;
        color: map-get($colors, 'primary') !important;
    }
    ion-item:last-child {
        border-bottom: 0 !important;
    }
    .list-md .item-block .item-inner {
        border-bottom: 1px solid #dedede;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(222, 222, 222);
    }

}
