page-home {
  ion-header .toolbar-title {
    padding: 0 !important;
  }

  #name {
    position: absolute;
    left: 55px;
    top: 10px;
  }

  #logo {
    display: inline-block
  }

  #like {
    position: absolute;
    right: 0;
  }
  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
    background-image: url('../assets/imgs/1278.jpg');
    background-size: cover;
  }

  #by{
    position: fixed;
    bottom: 10px;
  }
}
