page-home {
  ion-header .toolbar-title {
    padding: 0 !important;
  }

  #name {
    position: absolute;
    left: 55px;
    top: 10px;
  }

  #logo {
    display: inline-block
  }

  #like {
    position: absolute;
    right: 0;
  }
  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    padding-top: 5px;
    background-image: url('../assets/imgs/bgfond.jpg');
    background-size: 100% 100%;
  }

  #by{
    position: fixed;
    bottom: 10px;
  }

  ion-navbar{
    color: #990066 !important;
  }
}
