<ion-header>
  <ion-navbar class="navbar-transparent">
    <ion-title>Agregar dispositivo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back-transparent" no-bounce>
  <div class="page-scan-has-problems" *ngIf="(!hasPermission || isDenied || unavailable)">
    <div class="header-container">
      <div>
        <div class="header" padding>
          <div class="title" padding>Escanear codigo QR</div>
        </div>
        <div class="subtitle">Puede escanear el codigo Qr de tu dispositivo para guardarlo en la app</div>
      </div>
    </div>
    <div class="body">
      <div padding>
        <div *ngIf="!hasPermission">No se pudo activar la camara</div>
        <div *ngIf="isDenied">Activo el acceso a la camara para continuar</div>
        <div *ngIf="unavailable">No se pudo detectar una camara</div>
      </div>
    </div>
  </div>
  <div class="page-scan-loading-camera" *ngIf="!isCameraVisible"></div>
  <div class="page-scan-camera-ready" *ngIf="isCameraVisible">
    <div class="guides">
      <img class="svg qr-scan-guides" src="assets/imgs/qr-scan-guides.svg">
    </div>
    <ion-fab left bottom class="icon-flash" *ngIf="canEnableLight" (click)="toggleLight()">
      <button ion-fab mini [ngClass]="{'active': lightEnabled}"><ion-icon name="ios-flash"></ion-icon></button>
    </ion-fab>
  </div>
</ion-content>
