page-new-device-list {
    ion-card ion-label {
        display: none !important;
    }

    ion-item.data {
        padding: 10px 0 10px 15px;
    }

    .censored {
        filter: blur(2.3px);
        text-decoration: line-through;
    }

  ion-header{
    box-shadow: 0 2px 6px 0 rgba(34, 34, 34, 0.6), 0 4px 5px rgba(0, 0, 0, 0.1);
    .toolbar-title {
      padding: 0 !important;
      color: white;
    }

    .toolbar-background{
      background-color: $header-color !important;
    }

    &::after {
      width: 0 !important;
    }

  }

  .scroll-content{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    // padding-top: 5px !important;
    background-image: url('../assets/imgs/Fllaveros.jpg');
    background-size: 100% 100%;
    text-align: center;
    color: white;
  }
}
