page-search {
    .scroll-content {
        margin-top: 0 !important;
        background-color: map-get($colors, 'primary');
    }
    ion-grid {
        &, ion-row {
            height: 100% !important;
        }
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
            background-repeat: no-repeat;
            background-position: 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform .5s, opacity 1s;
        }
        &:after {
            transform: scale(0, 0);
            opacity: .2;
            transition: 0s;
        }
    }
    ion-card {
        border-radius: 50% !important;
        max-width: 200px !important;
        height: 200px;
        text-align: center;
        padding-top: 80px;
        // z-index: 100000000;
        position: fixed;
        margin: 0 !important;
    }
    ion-spinner {
      width: 230px;
      height: 230px;
        circle {
          stroke: #414141 !important;
        }
    }

}
